html {
    
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    
    margin: 0 auto; 
    width: 1042px;
    background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    
    text-decoration: none;
    cursor: pointer;
}

ul {
    
    list-style-type: none;
}

.header-cv {
    
    background-color: #538246;
    padding: 0px 0px 0px 20px;  
    height: 125px;
}

.avatar > img {
    
    width:140px;
    height: 140px; 
    border-radius: 85px;
}

.header-secao {
    
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1rem;
}

.avatar {
    
    flex: 0.1;
}

.avatar img {
    
    margin-top: 10px;
}

.titulo {
    
    flex: 0.85;
    margin: 0 auto;
}

.titulo p {
    
    text-align: center;
    color: #FFFFFF;
}

.titulo p:first-child {
    
    padding-top: 10px;
    font-size: 2.2em;
}

.social {
    
    flex: 0.05;
    background-color: #FFFFFF;
    padding: 0px;
}

.contato {
    
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
}

.flex {
    
    display: flex;
    flex-direction: row;
}